
@using Microsoft.AspNetCore.Identity
@using ASM.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Đăng Nhập";
}
<div class="content">
        <ul class="ca-menu" style="margin-top: 104px;">
            <center>
               
                <li style="list-style:none;">
                    
                        <span class="ca-icon">Đăng Nhập</span>
                        <div class="ca-content">
                            <button onclick="myFunction()">
                                <h3 class="ca-sub">Đăng Nhập Vào Tài Khoản Của Bạn</h3>
                            </button>
                        </div>
                    
                </li>
                 
            </center>

        </ul>
        
</div><!-- content -->
<br />
<div id="Login" style="display: none;"> <!-- đặt mặc định ẩn--> 
    <form id="account" method="post" >
        <h4>Use a local account to log in.</h4>
        <hr>
        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="Input_Email">Email</label>
            <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="Input_Password">Password</label>
            <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label for="Input_RememberMe">
                    <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                    Remember me?
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
            </p>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KqYs2KVxzBBunHe6UWCr2k5P7qbyoCPc3KrWVow88ese_NJAqtGiAL3qqQSXYpUAvVcgwrqMUXDC4FXyABkuUmFqkrlF5LLlVym3yfVJuPdCJ1la9TvJ6-GeKIAJOjZgLKbmplYEsAsiGv_LYMnCsQ"><input name="Input.RememberMe" type="hidden" value="false">
    </form>
</div>

